.wrapper {
    .wrapper-navigate {
        display: block;
        background: #2f3136;
        height: 100vh;
        overflow-x: none;
        position: fixed;
        width: 200px;
        .v-menu {
            color: #eee;
            padding: 15px 10px;
            position: absolute;
            top: 0;
            overflow: auto;
            left: 0;
            right: 0;
            bottom: 0;
            &::-webkit-scrollbar {
                background-color: #4b4c4f;
            }
            &::-webkit-scrollbar-track {
                background-color: #2f3136;
                box-shadow: none;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #4b4c4f;
                box-shadow: none;
            }
            .navigate-group {
                font-size: 20px;
                padding: 20px 20px 10px;
            }
            .v-menu-item-group-title {
                font-size: 14px;
                padding: 20px 12px 12px;
                border-bottom: 1px solid #2b2c31;
                color: #999;
            }
            .v-menu-item {
                padding: 8px 12px;
                position: relative;
                cursor: pointer;
                z-index: 1;
                transition: all .2s ease-in-out;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 34px;
                display: block;
                outline: 0;
                list-style: none;
                font-size: 14px;
                // border-right: 2px solid transparent;
                &.active {
                    color: #34c3ff;
                    // background: #42464e;
                    // border-right: 2px solid #2d8cf0;
                }
                &:hover {
                    background: #42464e;
                }
            }
        }
    }
    .wrapper-content {
        display: block;
        margin-left: 16%;
        width: calc(100% - 16%);
        height: 100vh;
        padding-top: 15px;
        overflow-y: scroll;
        .section {
            margin: 20px 60px;
            .main {
                margin: 0 20px;
                .section-label {
                    color: #303133;
                    font-weight: bold;
                    margin: 0 0 10px 0;
                }
                h4 {
                    color: #606266;
                }
                .demo-block {
                    margin-bottom: 24px;
                    border: 1px dashed #ebebeb;
                    border-radius: 3px;
                    transition: .2s;
                    padding: 20px;
                    &:hover {
                        border: 1px dashed #34c3ff;
                    }
                }
            }
        }
    }
}